<div
  class="tw-w-full tw-h-full tw-flex tw-justify-center tw-items-center tw-bg-[#00dfc0]"
>
  <div
    class="tw-w-[75vw] tw-h-[70vh] tw-flex tw-items-center tw-justify-center"
  >
    <div class="tw-w-[60%] tw-h-[70%] tw-z-10 tw-right-[-7%] tw-relative">
      <img
        src="../../../assets/img/payment-gateway-image.jpg"
        class="tw-w-full tw-h-full w3-animate-left"
      />
    </div>
    <div
      class="tw-font-extrabold w3-animate-right tw-font-mono tw-w-[80%] tw-h-[90%] tw-bg-[#385a64] tw-text-[#00dfc0] tw-flex tw-items-center tw-justify-center"
      style="font-size: x-large"
    >
      <h2 class="tw-ml-[15%]">
        Please,
        <br />
        Close this tab after payment:
        <br />
        success or fail.
      </h2>
    </div>
  </div>
</div>
