<!-- <div class="main">
    <div class="image-logo">
    </div>
    <div class="name">
      <p class="">
        WA<span>
          BOT
        </span>
      </p>
    </div>
    <div class="loader hide">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
-->
<div class="splash_container flex center column">
  <div class="image">
    <img src="/assets/svgs/whatsapp.svg" />
  </div>
  <div class="software_name">
    <h1 class="color_rps_p">WA <span class="color_rps_s">BOT</span></h1>
  </div>
</div>
