:host {
  color: black;
}
.container {
  width: 386px;
  height: 520px;
  background-color: white;
  border-radius: 5px;
  &_content {
    width: 91%;
    height: 98%;
    &_header {
      margin-bottom: 7%;
      h1 {
        margin: 2% 0 0 0;
        font-size: 17px;
      }
    }
    &_middle {
      margin-bottom: 5%;
      justify-content: space-between;
      padding: 2% 0;
      input {
        outline: none;
        border: 1px solid black;
        padding: 3.8% 3%;
        font-size: 15px;
        border-radius: 5px;
      }
      .btn-middle {
        margin-right: 10%;
        width: 23%;
        background-color: #01b55b;
        border: 1px solid black;
        cursor: pointer;
        height: 45px;
        border-radius: 5px;
        i {
          font-size: 26px;
          color: white;
          font-weight: bold;
        }
        &:hover {
          background-color: #19c26e;
        }
      }
    }
    &_end {
      margin-bottom: 6%;
      .first {
        box-sizing: border-box;
        border: 1px solid;
        h1 {
          margin: 0;
          font-size: 15px;
        }
        h2 {
          margin: 0 0 3% 0;
          font-size: 20px;
          font-weight: 600;
        }
      }
      .second {
        border: 1px solid black;
        height: 206px;
        .heading {
          box-sizing: border-box;
          background-color: black;
          height: 35px;
          justify-content: space-around;
          h1 {
            font-size: 14px;
            color: #98ffbfd1;
            margin: 0;
            font-weight: 500;
          }
        }
        .info {
          height: 161px;
          overflow: auto;
          .scroll {
            .number {
              padding: 2% 0;
              align-items: baseline;
              p {
                width: 60%;
                font-size: 17px;
              }
              .delete {
                width: 20%;
                border-radius: 5px;
                padding: 2% 2px;
                background-color: red;
                margin-left: 6%;
                border: none;
                cursor: pointer;
                i {
                  font-size: 22px;
                  color: white;
                }
              }
            }
          }
        }
      }
    }
    &_footer {
      .btn-end {
        padding: 6px 16px;
        border-radius: 3px;
        i {
          font-size: 23px;
          margin-right: 2%;
          font-weight: 500;
        }
        h6 {
          font-weight: 500;
          margin: 0 0 0 0;
          font-size: 18px;
          margin-left: 2%;
        }
      }
    }
  }
}
