.main {
  width: 325px;
  height: 350px;
  .title {
    h1 {
      font-size: 20px;
    }
  }
  .content {
    .startStopButtons {
      flex-direction: row;
      width: 80%;
      justify-content: space-evenly;
    }
    .startStop {
      width: auto !important;
    }
    button {
      width: 25%;
      font-size: 16px;
      padding: 10px;
      margin: 2%;
      &:disabled {
        cursor: not-allowed;
        background-color: #dde4e0d6 !important;
        color: black !important;
      }
    }
  }
}
