@font-face {
  font-family: 'icomoon';
  src: url('/assets/extras/icomoon.eot');
  src: url('/assets/extras/icomoon.eot') format('embedded-opentype'),
    url('/assets/extras/icomoon.ttf') format('truetype'),
    url('/assets/extras/icomoon.woff') format('woff'),
    url('/assets/extras/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
