.container {
  width: 457px;
  background-color: white;
  height: 537px;
  &_content {
    justify-content: space-evenly;
    .svbtn {
      width: 16%;
      padding: 2%;
      font-size: 17px;
      border-radius: 5px;
      margin-bottom: 2.6%;
      font-weight: 700;
    }

    &_header {
      width: 57%;
      margin-top: 1%;
      padding-bottom: 6%;
      h1 {
        border-bottom: 1px solid;
        border: 1px solid;
        text-align: center;
        margin: unset;
        padding: 3% 0;
        font-size: 20px;
        font-weight: 600;
      }
    }
    &_delay {
      height: 33px;
      margin: 4% 0 2% 0;
      .disableText {
        color: gray;
      }
      h1 {
        margin: unset;
        font-size: 15px;
        margin-left: 2%;
        margin-right: 3%;
        font-weight: 600;
      }
      .svbtn {
        width: 15%;
        padding: 2%;
        font-size: 17px;
        border-radius: 5px;
        margin-bottom: 2%;
        font-weight: 700;
      }
      mat-slider {
        width: 150px;
      }
    }
    &_interval {
      text-align: center;
      margin: 2% 0;
      .disableText {
        color: gray;
      }
      .disabledcheckbox {
        pointer-events: none;
        opacity: 2;
      }
      .head {
        input {
          height: 20px;
          width: 20px;
        }
        h3 {
          margin: 0;
          margin-left: 2%;
          font-size: 22px;
          font-weight: 500;
        }
      }
    }
    .btn {
      width: 21%;
      padding: 2%;
      font-size: 18px;
      border-radius: 5px;
      margin-bottom: 2%;
      margin-top: 4%;
      font-weight: 700;
      &:disabled {
        cursor: not-allowed !important;
        background-color: #dde4e0d6 !important;
        color: black !important;
      }
    }
    &_footer {
      margin-top: 3%;
      .otherSet {
        .left,
        .right {
          width: 50%;
          font-size: 10px;
          .footer-check {
            justify-content: left;
            input {
              height: 20px;
              width: 20px;
              margin-left: 2%;
            }
            h3 {
              margin: 1% 0 1% 3%;
            }
          }
        }
      }
    }
  }
}
