<!-- <div class="container_div">


<div class="aa_dh__dev">
  <div class="p6">
    <div class="p6_b">
      <div class="p6_b_sp"></div>
      <div class="p6_b_ca"></div>
      <div class="p6_b_se"></div>
      <div class="p6_b_m"></div>
      <div class="p6_b_u"></div>
      <div class="p6_b_d"></div>
      <div class="p6_b_r"></div>
      <div class="p6_b_btn"></div>
    </div>
    <div class="p6_s">
      <div class="p6_s_">
        <div class="p6_s_f">
          <img
            src="https://is5-ssl.mzstatic.com/image/thumb/PurpleSource114/v4/a3/0e/e4/a30ee4f5-e03e-3435-8711-074335873de0/62bd8864-8bc8-4375-b88c-483983ee71e9_akshatgold.com_app_home_live_U0028iPhone_6_7_8_Plus_U0029.png/750x750bb.jpeg"
            class="aa_img"
            alt="Akshat Gold"
          />
        </div>
      </div>
    </div>
  </div>
</div>
</div> -->
<app-block-list></app-block-list>
